:root {
    --main-bg-color: #23272a;
    --element: #7289da;
    --element-float: #99aab5;
    --nav-text: #ffffff;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    background-color: var(--main-bg-color);
}

ul {
    list-style-type: none;
    overflow: hidden;
    color: var(--nav-text);
    background-color: var(--element);
}

li {
    float: left;
}

li a {
    display: block;
    color: var(--nav-text);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:hover {

    background-color: var(--element-float);
}